<section data-ng-controller="DespesasController" data-ng-init="findOne()">
    <div class="container">
        <form data-ng-submit="update()">
            <div class="col-xs-8">
                <h2>Editar Despesa</h2>
                <hr>
                <label for="inputNome">Nome:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputNome" placeholder="Nome" data-ng-model="despesa.nome">
                </div>
                <input type="submit" class="btn btn-info" value="Update">
            </div>
        </form>
    </div>
</section>