<section data-ng-controller="ProdutosController" data-ng-init="findOne()">
    <div class="container">
        <div class="col-xs-8">
            <form data-ng-submit="update()">
                <h1>Editar Produto</h1>
                <hr>
                <label for="inputNome">Nome:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputNome" data-ng-model="produto.nome">
                </div>
                <label for="inputModelo">Modelo:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputModelo" data-ng-model="produto.modelo">
                </div>
                <label for="inputCusto_usd">Custo Usd:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputCusto_usd" data-ng-model="produto.custo_usd">
                </div>
                <input type="submit" class="btn btn-info" value="Update">
            </form>
        </div>
    </div>
</section>