<section data-ng-controller="EstudosController" data-ng-init="loadData()">
    <div class="col-xs-3">
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="item in produtos">
                <div class="row">
                    <div class="col-xs-8">
                        <h4 class="list-group-item-heading" data-ng-bind="item.nome"></h4>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-info btn-round btn-xs pull-right" ng-click="selecionaProdutoEstudo(item)"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="text-muted" data-ng-bind="item.modelo"></span> -
                        <span class="text-primary" data-ng-bind="item.custo_usd | currency: 'U$ '"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="itemEstudo in produtosDoEstudo">
                <div class="">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-primary" data-ng-bind="itemEstudo.nome"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form form-inline">
                            <div class="col-xs-8">
                                <span class="text-muted" data-ng-bind="itemEstudo.custo_usd | currency: 'U$ '"></span>&nbsp; x &nbsp;
                                <input type="text" class="form-control input-sm" placeholder="qtd" data-ng-model="itemEstudo.qtd" ng-change="iniImport()">
                                &nbsp Fob: <span class="text-primary" data-ng-bind="itemEstudo.qtd * itemEstudo.custo_usd | currency: 'U$ '" data-ng-show="itemEstudo.qtd"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-3">
        <h2>Estudo</h2>
        <p>Resutados do Estudo</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Principal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Fob</td>
                <td data-ng-bind="estudo.totalFob | currency: 'U$ '"></td>
            </tr>
            <tr>
                <td>CIF</td>
                <td data-ng-bind="estudo.cif_brl | currency: 'R$ '"></td>
            </tr>
            <tr>
                <td>Peso Total:</td>
                <td data-ng-bind="estudo.totalPeso"></td>
            </tr>
            <tr>
                <td>AFRMM</td>
                <td data-ng-bind="estudo.afrmm_brl | currency: 'R$ '"></td>
            </tr>
            <tr>
                <td>Despesas</td>
                <td data-ng-bind="estudo.total_despesas | currency: 'R$ '"></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Impostos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>II</td>
                <td data-ng-bind="estudo.tributos.ii | currency: 'R$ '"></td>
            </tr>
            <tr>
                <td>IPI</td>
                <td data-ng-bind="estudo.tributos.ipi | currency: 'R$ '"></td>
            </tr>
            <tr>
                <td>PIS</td>
                <td data-ng-bind="estudo.tributos.pis | currency: 'R$ '"></td>
            </tr>
            <tr>
                <td>Cofins</td>
                <td data-ng-bind="estudo.tributos.cofins | currency: 'R$ '"></td>
            </tr>
            <tr>
                <td>ICMS</td>
                <td data-ng-bind="estudo.tributos.icms | currency: 'R$ '"></td>
            </tr>
            <tr>
                <td>Total Tributos</td>
                <td data-ng-bind="estudo.tributos.total_dos_tributos | currency: 'R$ '"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>