<section data-ng-controller="EstudosController" data-ng-init="loadData()">
    <div ng-click="toggleSearch()"></div>
    <div class="drawer drawer-right container" ng-class="{expanded: open, collapsed: !open}">
        <h2>Produtos</h2>
        <p>Selecione os produtos</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Custo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in produtos">
                <td data-ng-model="item.nome">{{item.nome}}</td>
                <td data-ng-bind="item.custo_usd | currency: 'U$ '"></td>
                <td><a ng-click="adicionaProdutoEstudo(item)"><i class="fa fa-plus clickable" aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div> <!-- Painel com todos os Produtos -->
    <div class="row">
        <div class="col-xs-12">
            <h2 style="display: inline-block;" ng-click="toggleSearch()">Produtos do Estudo</h2>
            <button style="top: -5px; position: relative; margin-left: 20px;" class="btn btn-sm btn-white handle handle-right" ng-click="toggleSearch()"><i class="fa fa-plus"></i></button>
        </div>
    </div> <!-- Botão Add Produto -->
    <div class="row">
        <div class="col-xs-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Configurações</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="font-size: 0.85em" for="inputCotacaoDolar">Dólar: </label>
                            <div class="form-group-sm">
                                <input type="text" class="form-control input-sm" id="inputCotacaoDolar" data-ng-model="config.cotacao_dolar" ng-change="iniImport()">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group-sm">
                                <label style="font-size: 0.85em" for="inputCotacaoDolarPaypal">Dólar Paypal</label>
                                <input type="text" class="form-control input-sm" id="inputCotacaoDolarPaypal" data-ng-model="config.cotacao_dolar_paypal" ng-change="iniImport()">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group-sm">
                                <label style="font-size: 0.85em" class="" for="inputVolumeCntr20">CBM 20"</label>
                                <input type="text" class="form-control input-sm" id="inputVolumeCntr20" data-ng-model="config.volume_cntr_20" ng-change="iniImport()">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group-sm">
                                <label style="font-size: 0.85em" for="inputIofCartao">IOF Cartão</label>
                                <input type="text" class="form-control input-sm" id="inputIofCartao" data-ng-model="config.iof_cartao" ng-change="iniImport()">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group-sm">
                                <label style="font-size: 0.85em" for="inputTaxaPaypal">Taxa Paypal</label>
                                <input type="text" class="form-control input-sm" id="inputTaxaPaypal" data-ng-model="config.taxa_paypal" ng-change="iniImport()">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group-sm">
                                <label style="font-size: 0.85em" for="inputFreteMaritimoUsd">Frete Marítimo (usd)</label>
                                <input type="text" class="form-control input-sm" id="inputFreteMaritimoUsd" data-ng-model="config.frete_maritimo_usd" ng-change="iniImport()">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group form-group-sm">
                                <label style="font-size: 0.85em" class="control-label" for="inputComissaoML">Comissão ML: </label>
                                <input type="text" class="form-control input-sm" id="inputComissaoML" data-ng-model="config.comissao_ml" ng-change="iniImport()">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group-sm">
                                <label style="font-size: 0.85em" for="inputAliquotaSimples">Alíquota Simples: </label>
                                <input type="text" class="form-control input-sm" id="inputAliquotaSimples" data-ng-model="config.aliquota_simples" ng-change="iniImport()">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group-sm">
                                <label style="font-size: 0.85em" for="inputSeguroFreteMaritimoUsd">Seg. Frete. Mar. USD:</label>
                                <input type="text" class="form-control input-sm" id="inputSeguroFreteMaritimoUsd" data-ng-model="config.seguro_frete_maritimo_usd" ng-change="iniImport()">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group-sm">
                                <label style="font-size: 0.85em" for="inputPercentualComissaoConny">% Comissão Conny:</label>
                                <input type="text" class="form-control input-sm" id="inputPercentualComissaoConny" data-ng-model="config.percentual_comissao_conny" ng-change="iniImport()">
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Configurações -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tabela de Produtos</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table class="footable table table-striped toggle-arrow-tiny" data-page-size="8" id="tabelaProdutosDoEstudo">
                        <thead>
                        <tr>
                            <th data-toggle="true">Produto</th>
                            <th>Custo</th>
                            <th>C.Paypal</th>
                            <th>C.Dentro</th>
                            <th>Qtd</th>
                            <th>Fob</th>
                            <th>C.Final</th>
                            <th>P.Venda</th>
                            <th>Opções</th>
                            <th data-hide="all">Modelo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="itemEstudo in produtosDoEstudo">
                            <td><span>{{itemEstudo.nome}}</span>&nbsp&nbsp&nbsp&nbsp<span><i class="fa fa-file-text clickable" aria-hidden="true"></i></span></td>
                            <td data-ng-bind="itemEstudo.custo_usd | currency: 'U$ '"></td>
                            <td>
                                <input type="text" class="form-control input-transparente text-center" placeholder="" name="custo_paypal" ng-model="itemEstudo.estudo_do_produto.custo_unitario.paypal.usd" ng-change="calculaCustoPaypal(itemEstudo, 'custo_paypal')">
                            </td>
                            <td>
                                <input type="text" class="form-control input-transparente text-center" placeholder="" name="custo_dentro" ng-model="itemEstudo.estudo_do_produto.custo_unitario.declarado.usd" ng-change="calculaCustoPaypal(itemEstudo, 'custo_dentro')">
                            </td>
                            <td>
                                <input type="text" class="form-control input-transparente" placeholder="qtd" data-ng-model="itemEstudo.estudo_do_produto.qtd" ng-change="iniImport()">
                            </td>
                            <td data-ng-bind="100 | currency: 'U$ '">

                            </td>
                            <td>
                                <span data-ng-bind="itemEstudo.estudo_do_produto.resultados.precos.custo.final.brl | currency: 'R$ '"></span>
                            </td>
                            <td>
                                <input type="text" class="form-control input-transparente" placeholder="P.Venda (R$)" data-ng-model="itemEstudo.estudo_do_produto.resultados.precos.venda.brl" ng-change="iniImport()">
                            </td>
                            <td>
                                <i data-toggle="tooltip" data-placement="right" title="Remover produto"  ng-click="removeProdutoEstudo(itemEstudo)" class="fa fa-times clickable"></i>
                            </td>
                            <td>{{itemEstudo.modelo}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- Tabela de Produtos do Estudo -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">BRL</span>
                            <h5>Lucro</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{estudo.resultados.lucro.final.brl | currency: 'R$ '}}</h1>
                            <div class="stat-percent font-bold text-success">{{(estudo.resultados.lucro.final.brl/estudo.resultados.investimento.final.brl) * 100 | percent: 2}} <i class="fa fa-bolt"></i></div>
                            <small>Investimento: {{estudo.resultados.investimento.final.brl | currency: 'R$ '}}</small>
                        </div>
                    </div>
                </div> <!-- Lucro -->
                <div class="col-lg-3">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5>Contêiner</h5>
                            <h2>{{estudo.medidas.volume.ocupado_percentual | percent: 2}}</h2>
                            <div class="progress progress-mini">
                                <uib-progressbar class="progress-striped" value="estudo.medidas.volume.ocupado_percentual" type="warning">{{estudo.medidas.volume.ocupado_percentual}}</uib-progressbar>
                            </div>

                            <div class="m-t-sm small">Contêiner de 20"</div>
                        </div>
                    </div>
                </div> <!-- Contêiner -->
                <div class="col-lg-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">paypal x oficial</span>
                            <h5>Comparaçao</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="no-margins">$ 23.281.89</h1>
                                    <div class="font-bold text-navy">44% <i class="fa fa-level-up"></i> <small>Rapid pace</small></div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="no-margins">206,12</h1>
                                    <div class="font-bold text-navy">22% <i class="fa fa-level-up"></i> <small>Slow pace</small></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div> <!-- Visitas -->
            </div> <!-- Widgets do Estudo -->
        </div> <!-- Tabela com Produtos do Estudo -->
        <div class="col-xs-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Resultados</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins" ng-show="produtosDoEstudo.length">
                        <thead>
                        <tr>
                            <th>Modelo</th>
                            <th>User</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="item in produtosDoEstudo | orderBy: 'estudo_do_produto.resultados.lucro.unitario.brl'">
                            <td>
                                <small>{{item.modelo}}</small>
                            </td>
                            <td>{{item.estudo_do_produto.resultados.lucro.unitario.brl | currency: 'R$ '}}</td>
                            <td class="text-navy"><i class="fa fa-level-up"></i> 24%</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">Por Produto</span>
                        <h5>Resultados</h5>
                    </div>
                    <div data-ng-repeat="item in produtosDoEstudo | orderBy: 'estudo_do_produto.resultados.lucro.unitario.brl': reverse">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Modelo</small>
                                    <h4>{{item.modelo}}</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Lucro Un.</small>
                                    <h4>{{item.estudo_do_produto.resultados.lucro.unitario.brl | currency: 'R$ '}}</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">% Retorno</small>
                                    <h4>24%</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- User Activity -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dados do Estudo</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped small m-t-sm">
                    <!--<table class="table table-striped">-->
                        <thead>
                        <tr>
                            <th>Principal</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Lucro Operação</td>
                            <td data-ng-bind="estudo.resultados.lucro.final.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Investimento</td>
                            <td data-ng-bind="estudo.resultados.investimento.final.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Invest. Integral</td>
                            <td data-ng-bind="estudo.resultados.investimento.cheio.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Fob</td>
                            <td data-ng-bind="estudo.fob.declarado.usd | currency: 'U$ '"></td>
                        </tr>
                        <tr>
                            <td>CIF</td>
                            <td data-ng-bind="estudo.cif.declarado.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Peso Total:</td>
                            <td data-ng-bind="estudo.medidas.peso.ocupado"></td>
                        </tr>
                        <tr>
                            <td>AFRMM</td>
                            <td data-ng-bind="estudo.despesas.afrmm.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Despesas</td>
                            <td data-ng-bind="estudo.despesas.total.brl | currency: 'R$ '"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped small m-t-sm">
                        <thead>
                        <tr>
                            <th>Impostos</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>II</td>
                            <td data-ng-bind="estudo.tributos.declarado.ii.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>IPI</td>
                            <td data-ng-bind="estudo.tributos.declarado.ipi.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>PIS</td>
                            <td data-ng-bind="estudo.tributos.declarado.pis.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Cofins</td>
                            <td data-ng-bind="estudo.tributos.declarado.cofins.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>ICMS</td>
                            <td data-ng-bind="estudo.tributos.declarado.icms.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Total Imp.</td>
                            <td data-ng-bind="estudo.tributos.declarado.total.brl | currency: 'R$ '"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- Dados do Estudo -->
    </div>
</section>