<section data-ng-controller="PaisesController">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Cadastramento de País</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <br/><br/>
                        <form data-ng-submit="create()" class="form-horizontal">
                            <div class="form-group"><label class="col-sm-2 control-label">NCM</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputCodNcm" data-ng-model="cod_ncm" placeholder="Código NCM">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">Descrição</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputDescricao" data-ng-model="descricao" placeholder="Descrição">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input style="margin-left: 15px;" type="submit" class="btn btn-primary pull-right" value="Cadastrar">
                                    <button class="btn btn-white pull-right" type="submit">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Cadastrar Países</h5>
            <div ibox-tools=""></div>
        </div>
        <div class="ibox-content">
            <div class="container">
                <form data-ng-submit="create()">
                    <div class="form-group">
                        <label for="inputNomePais">Nome do País</label>
                        <input type="text" class="form-control" id="inputNomePais" data-ng-model="nome_pais" placeholder="Nome do País">
                    </div>
                    <div class="form-group">
                        <label for="inputSiglaPais">Sigla País</label>
                        <input type="text" class="form-control" id="inputSiglaPais" data-ng-model="sigla_pais" placeholder="Sigla País">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info pull-right" value="Cadastrar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>